services:
  ts-api:
    image: ts-api:local
    build: .
    restart: on-failure
    gpus: all
    ports:
      - 5000:5000
    volumes:
      - data:/home/python/ts-api/data
    environment:
      - log=debug
      - whisper_model=large-v3-turbo-q5_0
      - whisper_cpu_threads=23
      - parallel_workers=1
      - login_username=username
      - login_password=password

volumes:
  data:
